---
layout: default
---

<div class="home">

<iframe style="border:none" src="http://files.podsnack.com/iframe/embed.html?hash=a1uloflf&t=1444397957" width="200" height="27" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> 

  <div class="posts">
    {% for post in site.posts %}
      <div class="post py3">
        <p class="post-meta">{{ post.date | date: site.date_format }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h3 post-title">{{  }}</h3></a>

        				<div>{{ post.content }}</div>
        
      </div>
    {% endfor %}
  </div>

<!--  {% include pagination.html %} -->
</div>


